  <template>
      <li class="card">
        <a href="" class="text-gray-700 hover:text-gray-900">
          <h3 class="title">Título simple</h3>
          <p class="description">Una breve descripción para este resultado de búsqueda.</p>
          <img src="" alt="" />
        </a>
      </li> 
  </template>

  <style>
    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: #4a5568; /* gray-700 */
    }

    .card {
      padding: 1rem;
      border: 1px solid #e2e8f0; /* gray-300 */
      border-radius: 0.375rem; /* rounded-md */
      transition: color 0.2s ease;
    }
  </style>

  <style is:global>
    .astro-search-component input[type="search"] {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid #e2e8f0; /* gray-300 */
      border-radius: 0.375rem; /* rounded-md */
      outline: none;
      transition: box-shadow 0.2s ease;
  }
  </style>
